<div class="container">
    <div class="row">
        <div class="col-md-12">
            <body>
                <div class="container py-5">
                  <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);">
                    <h2 class="mb-4">
                      Welcome To Maharashtra...
                    </h2>
                    <p class="mb-4">
                      Expore the Great Amazing places and the rich heritage of Maharashtra
                    </p>
                  </div>
                </div>
              </body> 

              <div class="row row-cols-2 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../../assets/temples.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Temples</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="temples" class="btn btn-primary">Check it Now !</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../../assets/beach.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Beaches and More..</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="beach" class="btn btn-primary">Check it Now !</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../../assets/forts.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Forts and Treks..</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="forts" class="btn btn-primary">Check it Now !</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../assets/HillStation.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Hill-Stations</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="hill-station" class="btn btn-primary">Check it Now !</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card mt-4">
                      <img src="../../assets/Tadoba_Indian.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Wild-life Sanctuary..</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="wild-life-sanctuary" class="btn btn-primary">Check it Now !</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card mt-4">
                      <img src="../../assets/Culture.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Festivals and Culture..</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="culture-and-festivals" class="btn btn-primary">Check it Now !</a>
                      </div>
                    </div>
                  </div>
              </div>
              
        </div>
    </div>
</div>