<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/murud2.JPG" class="card-img" alt="..." height="350px" width="100px">
                <div class="card-img-overlay">
                  <h5 class="card-title-main">Welcome to Tarkarli!</h5>
                </div>
              </div>

            <a href=" " class="btn btn-primary">Book Destination!</a>
            <a href="hotel-reservation-tarkarli" class="btn btn-danger ml-4">Reserve Your Stay!</a>
        </div>
    </div>
</div>