<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <body>
                <div class="card bg-dark text-white">
                    <img src="../../../assets/forts.jpg" class="card-img" alt="..." height="500px" width="130px">
                    <div class="card-img-overlay">
                      <h2 class="card-title">Welcome to the Forts side of Maharashtra</h2>
                      <p class="card-text">Explore and Enjoy the Amazing and Mesmarizing views of our beautiful Forts.</p>
                      <p><b>Each of the Fort have thier own stories of braves to tell!</b></p>
                    </div>
                  </div>
              </body> 
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/forts/Raigad/Raiagad-001.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Raigad</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="raigad" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/rajmachii.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rajmachi</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="rajmachi" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/forts/Harishchandragad/Harishchandragad-04.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Harishchandragad</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="harishchandragad" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/forts/Kalsubai/kalsubai-005.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Kalsubai</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="kalsubai" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card mt-4">
                      <img src="../../../assets/forts/Janjira/janjira-003.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Janjira</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="janjira" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card mt-4">
                      <img src="../../../assets/forts.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Rajgad</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="rajgad" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
              