<div class="container">
    <div class="row">
        <div class="col-md-12">
            <body>
                <div class="card bg-dark text-white">
                    <img src="../../../assets/HillStation.jpg" class="card-img" alt="..." height="450px" width="100px">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Welcome to the Hill-station side of Maharashtra</h5>
                      <p class="card-text">Explore and Enjoy the Amazing and Mesmarizing views of our beautiful Hill-Stations.</p>
                    </div>
                  </div>
              </body> 
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/hillstation/Mahabaleshwar01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Mahabaleshwar</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="mahabaleshwar" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/hillstation/matheran01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Matheran</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="matheran" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/hillstation/Bhandardara-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Bhandara</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="bhandara" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mt-4">
                    <img src="../../../assets/hillstation/Khandala01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lonavla</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <a href="lonavla" class="btn btn-primary">know More!</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card mt-4">
                      <img src="../../../assets/hillstation/pachgani01.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Pachgani</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="pachgani" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card mt-4">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="" class="btn btn-primary">know More!</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
              