<div class="container-fluid">   
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-white">
                <img src="../../../../../assets/forts.jpg" class="card-img" alt="..." height="350px" width="150px">
                <div class="card-img-overlay">
                <h5 class="card-title-main">Welcome to Rajgad!</h5>
                </div>
              </div>

              <div class="p1 mt-3">
                  <p>
                    Rajgad Fort is one of the grand forts of the Sahaydris and lies at an altitude of 1400 m (4, 600 feet). 
                    Formerly known as Murumdev, Rajgad Fort was the capital of the Maratha Empire during the rule of Chhatrapati Shivaji Maharaj for 25 years,
                     before moving the capital to Raigad Fort. The Rajgad Fort was built with the treasure found on the adjacent Torna Fort. This was one of the favourite forts of Shivaji Maharaj and he stayed the most in this fort. Many historical events took place in this fort, 
                    such as the birth of Shivaji’s son, Rajaram Chhatrapati, his queen, Saibai’s death and Afzal Khan’s head is buried in the fort..
                    </p>
              </div>
                                                                <!--Page info-->
              <div class="clearfix">
                <img src="../../../../../assets/forts/Stairs-to-reach-Balekilla-top.jpg" class="float-left" height="350px" width="300px">
                <p>The fort is of great historic significance. Rajgad was home to Shivaji for over 25 years till he became Chhatrapati. 
                    Post coronation he shifted his capital to Raigad. The fort has witnessed lots of historic events, including the birth of Shivaji’s son Rajaram, the death of Shivaji’s Queen Saibai, the return of Shivaji from Agra, the burial of Afzal Khan’s head in the Maha darwaja walls of Balekilla, the strict words of Sonopant Dabir to Shivaji, and the Khandoji Khopade episode. Rajgad Fort is an iconic place located near pune. The place is historic and attracts many tourists to it. This fort can be considered as a Holy place as it was first capital of Hindavi Swarajya, established by Chhatrapati Shivaji Mahataj. 
                    Trek to this fort via Gunjavane & Chor darwaja is bit difficult, but will test your mental and physical ability.
                    The fort is divided into four parts, Padmavati Machi, Suvela Machi, Sanjeevani Machi, and Balekilla (small fort).
                    The fort is an example of splendid design and construction. 
                    The diameter of the fort at the base is 40 km making it difficult for anybody to lay siege to it.
                </p>
              </div>
              <div class="clearfix">
                <img src="../../../../../assets/forts/Rajgad-Fort-Trek.jpg" class="float-right" height="350px" width="300px">
                <p>
                    Balekilla:<br><br>

                    This site is one of the highest parts in the Fort Rajgad that includes caves, water cisterns and palaces. The entrance door of the Balekilla is called as Maha Dwaraja. From here, one can easily view the whole fort.
                    Rajgad is amongst the most popular trekking destinations near Pune. There are several trekking routes to reach the Fort. Trek to Padmavati Machi via Chor Darwaja is the most popular route and the trek starts from Gunjawane village. From Gunjawane the 4.5 km trek is a little bit tough and it takes almost 3 1/2 hours to reach Padmavati Machi. One needs to navigate a steep rocky incline to reach Chor Darwaza.
                    The trek via Pali Darwaza is a simple climb and it starts from Pali village. 
                    The 3.5 km trek from Pali should take approximately 2 hours to reach the fort. 
                    There is another route called Bhor route which starts from Bhutonde. 
                    From Bhutonde village, a 3 -4 hours trek will take visitors to Alu Darwaja of Rajgad.
                     This route is not popular as other two routes. It is always recommended that visitors should carry their own drinking water and food.                    
                </p>
              </div>
              <div class="card mt-5">
                <h5 class="card-header">Hotels And Resorts near Rajgad. </h5>
                <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/forts/Mantra resort.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Mantra Resort</h5>
                      <p class="card-text">Offering an outdoor swimming pool and an Indian restaurant,
                           Mantra Resort is located in Pune. 
                           Guests can enjoy facilities like Water Park and games like table tennis, tennis and billiards
                    </p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img
                    src="../../../../../assets/forts/Kalsubai Trek/Kalsubai Camping.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                    <div class="card-body">
                      <h5 class="card-title">Campgrounds India Vangani</h5>
                      <p class="card-text">Set in Ādoli in the Maharashtra region, Campgrounds India Vangani offers accommodation with free private parking.
                        Guests at the camping can enjoy a buffet breakfast.
                        A terrace can be found at Campgrounds India Vangani, along with a garden.
                        Pune is 38 km from the accommodation. The nearest airport is Pune International Airport, 50 km from Campgrounds India Vangani.</p>
                      <a href="#" class="btn btn-primary">Book Room</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img
                    src="../../../../../assets/forts/Studio Cottage Stay.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Studio Cottage stay</h5>
                        <p class="card-text">Studio Cottage stay is located in Welhe. 
                            The air-conditioned accommodation is 44 km from Pune.
                              The nearest airport is Pune International Airport, 41 km from the chalet.
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                        <img
                    src="../../../../../assets/forts/Pune Vacation.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">PUNE VACATION</h5>
                        <p class="card-text">Situated in Pune in the Maharashtra region, PUNE VACATION has a balcony. 
                             This property offers a private pool and free private parking.

                             This air-conditioned villa has 5 bedrooms, a flat-screen TV, and a kitchen.
                             
                             The villa features a terrace.</p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                    <img
                    src="../../../../../assets/forts/Paradise Countrye.jpg"
                   class="card-img-top"
                    alt="..."
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Paradise Country</h5>
                        <p class="card-text">
                            Offering an outdoor swimming pool and a range of activities like table tennis, darts and billiards,
                             Rain Forest Resort is surrounded by the beautiful
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card mt-3">
                    <img
                    src="../../../../../assets/forts/teak trail.jpg"
                   class="card-img-top"
                    alt="..." height="250px"
                    />  
                      <div class="card-body">
                        <h5 class="card-title">Teak trail</h5>
                        <p class="card-text">
                            Teak trail, a property with a terrace, is situated in Pune, 29 km from Raja Dinkar Kelkar Museum, 
                            29 km from Fergusson College, as well as 30 km from Srimant Dagadusheth Halwai Ganapati Temple.
                             This holiday home features free private parking and room service.
                        </p>
                        <a href="#" class="btn btn-primary">Book Room</a>
                      </div>
                      
                    </div>
                  </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>